.mainContainer {
  height: 100vh;
  background-image: url("../../../public/photos/techStack.png");
  opacity: 0.9;
  background-repeat: no-repeat;
  margin: auto;
  width: 53%;
}

.main {
  background-color: #f3e7d4;
  display: flex;
  flex-direction: row;
}

.introText {
  width: 47%;
  /* border: dotted red; */
  display: flex;
  flex-direction: column;
}

.introText h1 {
  font-size: 3em;
  padding-top: 10vh;
  text-align: center;
  font-family: "headingProItalic";
  color: rgb(65, 65, 65);
}

.introText h3 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 25vh;
  font-family: "headingProItalic";
  color: rgb(65, 65, 65);
}

.introText h3:nth-of-type(2) {
  text-align: center;
  font-size: 1.5em;
  padding-top: 45vh;
}

navContainer {
  display: flex;
  flex-direction: column;
}

.me {
  border: dotted #000000;
  height: 35vh;
}

.about {
  border: solid rgb(58, 8, 224);
  height: 20vh;
}

.projects {
  border: dotted rgb(222, 250, 13);
  height: 30vh;
}
