.mainContainer {
  height: 100vh;
  background-image: url("../../images/techStack.png");
  opacity: 0.9;
  background-repeat: no-repeat;
  margin: auto;
  width: 53%;
}

.main {
  background-color: #f3e7d4;
  display: flex;
  flex-direction: row;
}

.introText {
  width: 47%;
  /* border: dotted red; */
  display: flex;
  flex-direction: column;
}

.introText h1 {
  font-size: 3em;
  padding-top: 22vh;
  text-align: center;
  font-family: "headingProItalic";
  color: rgb(65, 65, 65);
}

.introText h3 {
  text-align: center;
  font-size: 1.8em;
  padding-top: 14vh;
  font-family: "headingProItalic";
  color: rgb(65, 65, 65);
}

.introText h3:nth-of-type(2) {
  text-align: center;
  font-size: 1.5em;
  padding-top: 45vh;
}

navContainer {
  display: flex;
  flex-direction: column;
}

.coloredText {
  color: #e2745e;
}

.me {
  height: 35vh;
}




.bottomScreens {
  height: 30vh;
}

.profilePicture {
  padding-left: 30.5vw;
  padding-top: 12.2vw;
}
.profilePicture img {
  height: 6.5vh;
  width: 5.2vw;
  transform: skew(0deg, 15deg);
  animation: static 2s infinite steps(3);
}


.projectsLink {
    padding-top: 3.5vh;
    padding-left: 14vw;
    transform: skew(-2deg, -11deg);
    font-size: 30px;
    color: rgb(65, 65, 65);
    animation: static 2s infinite steps(1);
    transition: 0.3s ease-in-out;
}
.projectsLink:hover {
  padding-top: 3.5vh;
  padding-left: 14vw;
  transform: skew(-2deg, -11deg);
  font-size: 30px;
  color: #e2745e;
  animation: none;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.contact{
    height:10vh;
    display: flex;
    flex-direction: row;
}


.contact a{
    padding-left: 57.5%;
    padding-top: 1.8vh;
}
.contact h1{

    font-size: 38px;
  color: rgba(65, 65, 65, 0.749);
  animation: textGlitch 2s infinite steps(3);
  transition: 0.3s ease-in-out;
}

.contact h1:hover{

    font-size: 38px;
  color: #e2745e;
  font-weight: bold;
  animation: none;
  transition: 0.3s ease-in-out;
}


@keyframes static {
  0% {
    filter: none;
  }
  78% {
    filter: grayscale(73%) sepia(46%) blur(1px) brightness(120%) saturate(333%)
      contrast(129%) invert(75%);
    -webkit-filter: grayscale(73%) sepia(46%) blur(1px) brightness(120%)
      saturate(333%) contrast(129%) invert(75%);
    -moz-filter: grayscale(73%) sepia(46%) blur(1px) brightness(120%)
      saturate(333%) contrast(129%) invert(75%);
  }

  95% {
    filter: grayscale(73%) sepia(46%) blur(1px) brightness(120%) saturate(333%)
      contrast(129%) invert(75%);
    -webkit-filter: grayscale(73%) sepia(46%) blur(1px) brightness(120%)
      saturate(333%) contrast(129%) invert(75%);
    -moz-filter: grayscale(73%) sepia(46%) blur(1px) brightness(120%)
      saturate(333%) contrast(129%) invert(75%);
  }
  100% {
    filter: none;
  }
}

@keyframes textGlitch {
    0% {
        text-shadow: none;
    }
  
    95% {
        text-shadow: 8px 4px 0px rgba(188, 188, 188, 0.6);
    }
    100% {
        filter:blur(.7px);
        text-shadow: none;
    }
  }
