nav{
    position: absolute;
    width: 100%;
    z-index: 10;
}

svg{
    height: 4vh;
    fill: #414141;
    transition: .2s ease-in-out
}


svg.ionicon:hover path {
    fill: #e2745e;
    transition: .2s ease-in-out
}


a:hover{
    cursor: pointer
}