.about {
  /* background: rgb(42,211,255);
  background: radial-gradient(circle, rgba(42,211,255,1) 0%, rgba(39,194,235,1) 25%, rgba(0,0,0,1) 100%);  */
  background-color: #b2b2da;
    opacity: 0.8;
    background-image: linear-gradient( #9b9bd1 50%, #444cf7 50%);
    background-size: 10px 10px;
  height: 100vh;
  position: relative;
  padding-top: 12vh;
  animation: screenStatic 20s ease-in-out infinite;
}

.aboutContainer {
  height: 80vh;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 17vw;
  transition: 0.5s ease-in-out;

  background-color: #efebde;
  border-radius: 20px;
  box-shadow: 10px 10px 164px -28px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 10px 10px 164px -28px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 10px 10px 164px -28px rgba(0, 0, 0, 0.75) inset;
  
}

.aboutContainer .content1 p {
  text-align: center;
  padding: 5vh 3vw 3vh 2vw;
  font-size: 1.5em;
  font-weight: bold;
  color:rgb(0, 0, 0);
  border-radius: 8px;
}

.aboutContainer .content1 h1{
  border-radius: 8px 8px 0px 0px;
  background-color: #010ab0;
  width: 100%;
  color: white;
  padding: 10px;

}

.aboutContainer .content2 {
  display: flex;
  flex-direction: row;
  width: 32vw;
  margin: auto;
  justify-content: space-between;
  padding-right: 6vw;
}

 .content2 button {
  font-size: 2em;
  position: absolute;
  z-index: 1;
  background: #b9b8b6;
  border: groove 3px #f2eee4;
  text-align: center;
  box-shadow: inset 0.07em 0.09em #f2eee4;
  padding: 10px;

}
.content2 button:hover {
  background: #9a9a9a;
  border: groove 3px #4275f6;
  text-align: center;
  box-shadow: inset 0.07em 0.09em #f2eee4;
  padding: 10px;
}

.aboutContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Set a z-index to place it on top of the content */
  background-image: url(../../images/bgBorder.png);
  height: 100vh;
  background-position: 20% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes dottedEntry {
  0% {
    border: 1px dashed #00000094;
  }
  100% {
    border: 16px dashed #00000094;
  }
}


@keyframes screenStatic{
  0%{background-color: #9c9ccd;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #8787bc 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
  }

  100%{
    background-color: #9c9ccd;
opacity: 0.8;
background-image:  linear-gradient(135deg, #777efb 15%, transparent 15%), linear-gradient(225deg, #777efb 15%, transparent 15%), linear-gradient(45deg, #777efb 25%, transparent 25%), linear-gradient(315deg, #777efb 25%, #9c9ccd 25%);
background-position:  6px 0, 6px 0, 0 0, 0 0;
background-size: 6px 6px;
background-repeat: repeat;
  }
}

