.contact {
  /* background: rgb(42,211,255);
        background: radial-gradient(circle, rgba(42,211,255,1) 0%, rgba(39,194,235,1) 25%, rgba(0,0,0,1) 100%);  */
  background-color: #b2b2da;
  opacity: 0.8;
  background-image: linear-gradient(#9b9bd1 50%, #444cf7 50%);
  background-size: 10px 10px;
  height: 100vh;
  position: relative;
  padding-top: 12vh;
  animation: screenStatic 20s ease-in-out infinite;
}
.contactBorder {
}
.contactContainer {
  border: 20px dashed #00000094;
  height: 80vh;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-left: 17vw;
  transition: 0.5s ease-in-out;
  animation: dottedEntry 1s ease-in;
}

.contactContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Set a z-index to place it on top of the content */
  background-image: url(../../images/bgBorder.png);
  height: 100vh;
  background-position: 20% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.contactFormContainer {
  position: absolute;
  height: 75vh;
  width: 55vw;
  display: flex;
  z-index: 10;
}

.contactFormContainer form {
  background-color: #efebde;
  margin: auto;
  height: 60vh;
  width: 30vw;
  border-radius: 20px;
  box-shadow: 10px 10px 164px -28px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 10px 10px 164px -28px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 10px 10px 164px -28px rgba(0, 0, 0, 0.75) inset;
}

.contactFormContainer form h1 {
  color: white;
  border-radius: 8px 8px 0px 0px;
  background-color: #010ab0;
  width: 100%;
  padding: 10px;
}

.contactFormContainer textarea {
  color: rgb(0, 0, 0);
  background-color: #e7e5da;
  width: 100%;
  resize: none;
  padding: 10px;
}


.sendButton {
  background: #b9b8b6;
  border: groove 3px #f2eee4;
  text-align: center;
  box-shadow: inset 0.07em 0.09em #f2eee4;
  padding: 10px;
  margin-left: 45%;
  margin-top: 4vh;
}

.sendButton:hover {
  background: #9a9a9a;
  border: groove 3px #4275f6;
  text-align: center;
  box-shadow: inset 0.07em 0.09em #f2eee4;
  padding: 10px;
}
